@model IEnumerable<CashFlow.Models.TransactionViewModel>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Transactions</h3>
<hr/>
<p>
    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary" + ViewBag.disabled })
</p>
<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResourceName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceName)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.TransactionId }, new { @class = "btn btn-xs text-warning fa fa-pencil" + ViewBag.AdmDisabled }) |
                        @Html.ActionLink(" ", "Delete", new { id = item.TransactionId }, new { @class = "btn btn-xs text-danger fa fa-trash" + ViewBag.AdmDisabled })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>